AddHandler application/x-httpd-php53 .php
#php_flag register_globals on
AddDefaultCharset ISO-8859-9
Options +FollowSymLinks
RewriteEngine On
RewriteRule ^google894f307fcced897c.html$ google894f307fcced897c.html [L,NC]
RewriteRule ^yandex_528abc8b0b2c3438.html$ yandex_528abc8b0b2c3438.html [L,NC]
RewriteRule ^sitemap.xml$ sitemap.php [L,NC]
RewriteRule ^(.*)-(.*).html$ sozluk.php?process=word&conv=1&q=$1&sayfa=$2 [L,NC]
RewriteRule ^(.*).html$ sozluk.php?process=word&conv=1&q=$1 [L,NC]
RewriteRule ^(.*)-(.*).htm$ sozluk.php?process=eid&conv=1&eid=$1&sayfa=$2 [L,NC]
RewriteRule ^(.*).htm$ sozluk.php?process=eid&conv=1&eid=$1 [L,NC]
<Files 403.shtml>
order allow,deny
allow from all
</Files>