/* sozluk.css - komplike stylesheet
 * el degmeden hazirlanmi$tir
 */

/* login box */
.loginbox {
  width: 220px;
}

/* login inputs */
.lin {
	width: 100%;
}

/* ampul abi */
.ampul {
	background-image: url(/img/ampul.gif);
	background-repeat: no-repeat;
	width:18px;
	height:18px;
}
/* info section headers */
.infosec {
	border:1px outset;
	cursor:pointer;
}
/* right panel */
.panel {
	width:120px;
}
/* arastir dropdown select */
.asl
{
	width:109px;
}
/* ad box */
.spot {
  width: 120px;
  float:right;
}
.spot TD {
  font-size: 7pt;
}

/* badilist */
#badi
{
  width: 120px;
  padding: 2px;
  font-size: 7pt;
  overflow: hidden;
  border: 1px inset;
}
/* inline search textbox */
.aratext
{
  width:96px;
}
/* left frame background class */
.bgleft {
}
/* top frame background class */
.bgtop {
	margin:0;
	padding:0;
}
/* inline search marker */
.marker
{
	background-color: yellow;
	color: black;
}
/* pager buttons */
.pbut {
  font-size: 7pt;
  width:16px;
  height:16px;
}
/* top buttons */
.nav TD {
  padding:2px;
  height:23px;
  margin:0;
  vertical-align:middle;
}
/* panel leds */
#pmsg {
  background-color: #006000;
}
#pmsghi {
  background-color: #00f000;
}
#pbin {
  background-color: #606000;
}
#pbinhi {
  background-color: #f0f000;
}
#pevt {
  background-color: #606000;
}
#pevthi {
  background-color: #f0f000;
}
/* page browser text */
.pagi {
  font-size: 7pt;
  text-align: center;
}
/* page selector (select) */
.pagis {
  font-size: 6pt;
}
/* ek$isozluk logo! */
.logo {
  background-image: url(img/logo.gif);
  background-repeat: no-repeat;
  width:132px;
  height:45px;
  cursor:kahve;
}
/* highlight color */
.highlight
{
  background-color: #c0c0c0;
}
/* copyright line */
.copyright
{
  font-size: 7pt;
  color: #909090;
}
/* topic title */
.title {
  font: bold 12pt Verdana, sans-serif;
  background-color: transparent;
  width: 100%;
  color: #CCCCCC;
  border: none;
}
/* buttons */
.but {
  font: 8pt Arial,sans-serif;
  text-align:center;
  white-space:nowrap;
  cursor: kahve;
  background-color: #990000;
  color: white;
  border: 2px outset #a6b4d4;
}
/* button mouse over */
#butOver {
  background-color: #667494;
}
/* button pressed */
#butDown {
	border: 2px inset;
}
/* button link adjustments */
.but A {
  color:white;
}
.but A:Hover {
  background-color: transparent;
  color:white;
}
#butOver A {
  color:white;
}
#butOver A:Hover {
  background-color: transparent;
  color:white;
}
/* entry buttons (derived from but) */
.icon {
  font-size: 7pt;
}
.timer {
  font-size: 7pt;
  vertical-align: middle;
}
/* entry author line */
.aul {
  font-size: 8pt;
  line-height: 9pt;
  text-align: right;
}
/* panel classes */
.pi {
  border: 1px inset;
  font-size: 7pt;
  padding: 0px;
  text-align: center;
}
.pi A:Hover {
  background-color: transparent;
}
/* top inputtexts */
.input {
  height:16px;
  font: 7pt Verdana, sans-serif;
}
/* message textarea */
.msgtext {
  font-size: 8pt;
}
/* messages table */
.msg {
  padding: 2px;
  font-size: 8pt;
  color: black;
}
.msg TD {
  font-size: 8pt;
}
/* entry text */
.eol {
	line-height: 14pt;
}
/* entry id */
.ei {
  color: #808080;
  margin: 0;
  padding: 0;
  font-size: 7pt;
}
/* regular tab */
.tab {
  padding-top:2px;
  border-bottom: 2px inset;
  font-size: 7pt;
  white-space: nowrap;
}
.tab DIV {
  line-height: 12pt;
  white-space: nowrap;
  margin-left: 1px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 0;
  border: 2px outset;
  border-right: 1px outset;
  border-bottom: 0;
}
.tab A:Hover {
  background-color: transparent;
}
/* selected tab */
.tabsel {
  border: 2px outset;
  line-height: 11pt;
  white-space: nowrap;
  font-size: 7pt;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  cursor: default;
  border-bottom:0;
  white-space: nowrap;
}
/* tab contents */
.tabin {
  border: 2px outset;
  border-top: 0;
  padding: 4px;
  height: 245px;
  font-size: 8pt;
}

/* vertical tab */
.vtab {
  padding-right:2px;
  border-left: 2px inset;
  font-size: 7pt;
  white-space: nowrap;
  cursor:pointer;
}
.vtab DIV {
  line-height: 12pt;
  white-space: nowrap;
  margin-top: 1px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 2px;
  padding-left: 0;
  border: 2px outset;
  border-top: 1px outset;
  border-left: 0;
}
.vtab A:Hover {
  background-color: transparent;
}
/* vertical selected tab */
.vtabsel {
  border: 2px outset;
  line-height: 11pt;
  white-space: nowrap;
  font-size: 7pt;
  padding-right: 2px;
  padding-left: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: default;
  border-left:0;
  white-space: nowrap;
}
/* vertical tab contents */
.vtabin {
  border: 2px outset;
  border-right: 0;
  padding: 4px;
  height: 245px;
  font-size: 8pt;
}


/* hayvan ara */
.adiv {
  display:block;
  position:absolute;
  top:44px;
  left:215px;
  width:18px;
  overflow:hidden
}
.amain {
  background-color: #1E1716;
  border:1px outset;
  border-left:0;
  width:100%;
  padding:4px
}
TD.amain {
  font-size: 8pt;
}
.aup {
  border-right:1px inset;
  height:18px
}
.amid {
  background-color:#372B29;
  border:1px outset;
  border-right:0;
  padding:4px;
  line-height:8pt;
  font-weight:bold;
  font-size:8pt;
  writing-mode: tb-rl;
  cursor:pointer;
}
.abot {
  border-right:1px inset;
  height:140px
}
/* kahve styles */
body {
  font: 9pt Verdana, sans-serif;
  background-color: #372B29;
  color: #BC827A;
}
ul {
  color : #CCCCCC;
	list-style-type: lower-roman;
  line-height: 12pt;
}
a {
  color : #D89C72;
  text-decoration: none;
}
a:hover {
  background-color: #c0c0c0;
}
select, input, optgroup {
  font: 8pt Verdana, sans-serif;
}
textarea {
  font: 9pt Verdana, sans-serif;
  width:100%;
}
hr {
  color: #c0c0c0;
}
th {
	font-size: 9pt;
}
td {
	font-size: 9pt;
	line-height: 12pt;
	vertical-align: top;
}
p {
  font-size: 9pt;
  line-height: 14pt;
  vertical-align: top;
}
img, form, table {
  padding: 0;
  margin: 0;
  border: 0;
}
dd {
  margin: 0;
  padding: 0;
}
fieldset {
	margin: 0;
	padding: 2;
}
.checkbox, .radio {
	border: none;
	background-color: transparent;
} 